// Normalize, clearfix, border-box

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import '_variables.scss';
@import '_mixins.scss';

// Base Body Styles 

html {
	margin:0;
	padding:0;
}

body {
	font-family: $font;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

// Text Styles

h1 {
	padding: 0;
	margin: 0;
	line-height: 40px;
	font-size: 22px;
	width: 300px;
	a {
		text-decoration: none;
		color:#1d1d1d;
		span.ibm {
			font-weight: normal;
		}
	}
}

h3 {
	font-weight: normal;
}

// Major Section Structural Styles

.main {
	display:flex;
	flex-flow: row wrap;
	position:relative;
	@media (min-width:1640px){
		height: calc(100vh - 60px);
	}
}

nav {
	margin: 0 auto;
	background-color: #fff;
	h1{
		padding: 10px;
		padding-left: 35px;
		margin: 5px;
		@media (max-width:445px) {
			padding-left:10px;
		}
	}
}

// Sidebar Styles

aside {
	color:#fff;
	flex:1 0 20%;
	min-width:200px;
	padding:40px;
	background-color: $gray;
	@media (max-width:900px) {
		flex: 1 0 100%;
		padding: 10px 40px;
		h3 {
			width:100px;
			float: left;
		}
		.button-group {
			float: left;
			padding-top: 5px;
		}
	}
	@media (max-width:445px) {
		padding-left:20px;
	}
}

button {
	border:2px solid #fff;
	color:#fff;
	background-color: transparent;
	box-shadow: none;
	transition: all 0.3s;
	padding:10px;
	margin:5px 5px 5px 0px;
	&:hover, &:focus{
		border:2px solid #fff;
		color:#000;
		background-color: #fff;
		outline:none;
	}
}

//Gallery Styles

#gallery {
	flex: 1 0 80%;
	background-color: $yell;
	position: relative;
	.imageContainer{
		display: block;
		padding: 30px;
		margin:0 auto;
		@media (max-width:445px) {
			padding:10px;
		}
	}
	a {
		display: block;
		color:#000;
		text-decoration: none;
		cursor: cell;
		height:200px;
		width:300px;
		float: left;
		margin: 5px;
		@media (max-width:900px) {
			height:150px;
			width:170px;
			padding-bottom: 15px;
		}
		@media (max-width:445px) {
			height:230px;
			width:300px;
		}
		.galleryItem {
			background-size: cover;
			background-position: center center;
			height:100%;
			width:100%;
			position: relative;
			&:hover p {
				opacity:1;
			}
			p {
				opacity:0;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: rgba(255,255,255,0.8);
				height: 50px;
				line-height: 50px;
				margin: 0;
				padding: 0px 20px;
				transition: all 0.3s;
				&:before {
					content:"File: ";
					color:rgba(0,0,0,0.7);
				}
				@media (max-width:900px) {
					 display:block !important;
					 background-color: rgba(255,255,255,1);
					 font-size: 10px;
					 bottom:-15px;
					height:15px;
					line-height: 15px;
					padding-left: 5px;
				}
			}
		}
	}
}

// info overlay styles 	

//fancybox styles

.fancyOverlay {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index:1000;
	display: flex;
	a{
		display: block;
	}
	.fancyImage {
		max-width: 50%;
		height:auto !important;
		margin: auto;
		position: relative;
		@media (max-width:1100px) {
			max-width: 80%;
			margin-top:100px;
		}
		img {
			max-width: 100%;
			border:10px solid #fff;
		}
		&:before {
			content:'×';
			display: block;
			font-size: 30px;
			line-height: 30px;
			padding-bottom: 5px;
			height: 30px;
			width: 34px;
			background: black;
			text-align: center;
			position:absolute;
			top:-15px;
			right:-15px;
			border:5px solid white;
			color:white;
			z-index:100000;
			border-radius:50%;
		}
	}
}
